* {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding-left: 10%;
    padding-right: 10%;

    ul {
        li {
            display: inline;

            a {
                text-decoration: none;
                margin-left: 20px;
                color: black;
                font-weight: 600;
                display: inline-block;
                height: 115px;
                line-height: 110px;

                &:hover {
                    color: blue;
                    border-bottom: 5px solid blue;
                }
            }
        }
    }
}

#a {
    background-color: rgb(25, 98, 192);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-left: 10%;
    padding-right: 10%;

    span {
        display: flex;
        align-items: center;
        margin: 10px;
        color: white;

        img {
            width: 50px;
            height: 60px;
        }
    }
}

footer {
    #b {
        background-image: url(./assets/footer-bg.jpg);
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;

        #footerLink {
            display: flex;

            .footerColumn {
                margin-left: 50px;
            }

            span {
                display: inline-block;
                color: white;

                h3 {
                    margin-top: 50px;
                }

                ul {
                    margin-top: 20px;

                    li {
                        display: block;
                        text-align: start;
                        margin-top: 7px;

                        a {
                            text-decoration: none;
                            color: grey;
                        }
                    }
                }
            }
        }

        #footerLogo {
            background-image: url(./assets/dc-logo-bg.png);
            width: 560px;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
        }
    }

    #c {
        background-color: rgb(73, 73, 73);
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;

        div {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }

            h2 {
                margin-right: 30px;
                color: rgb(25, 98, 192);
            }

            #d {
                border: 3px solid rgb(25, 98, 192);
                padding: 10px;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.block {
    display: block !important;
}